NODE_ENV=local
PORT=3000

# PostgreSQL
DATABASE_URL=postgresql://postgres:password@localhost:5432/ticketing

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=ticketing
KAFKA_GROUP_ID=ticketing-group

JWT_ACCESS_SECRET=your-secret-key-here
JWT_ACCESS_EXPIRES_IN=7d
